/* elements */

img {
  position:relative;
  float: left;
  width: 5%;
  margin-top: -4px;
}

ul {
  position: relative;
  display: block;
}

li {
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

a:hover {
  color: red;
}

/* IDs */

#upper_navbar {
  margin-bottom: 0px;
}

#lower_navbar {
  margin-top: 0px;
}

#header hr {
  display: block;
  width: 21.5%;
  margin-left: 1%;
}

#posts {
  margin: auto;
  position: relative;
}

.post_title {
  text-align: center;
  margin: auto;
}

.post_content {
  text-align: center;
  margin: auto;
}

#footer {
    text-align: center;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

#footer_of_footer {
  text-align: center;
}